<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543654006969-i9j74924l2s1o2mhl1hqn43blhj1mvng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543654006969-i9j74924l2s1o2mhl1hqn43blhj1mvng</string>
	<key>API_KEY</key>
	<string>AIzaSyCWCNnLXTr9m7T8TqW16tYhc1fl6zdhbzU</string>
	<key>GCM_SENDER_ID</key>
	<string>543654006969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niran.firebaselearn.firebaseLearn</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-d30ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-d30ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543654006969:ios:24b33c1b33992acc7d0b68</string>
</dict>
</plist>